header{
	font-size: 10px;
	text-align: center;
	transition: 1s ease;
	color: black,gray;
}
.intro{
	font-size: 10px;
	text-align: center;
	transition: 1s ease;
	color: black,gray;
}
.cart{
	color: orange;
	background-color: orange;
	height: 90px;
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 20px;
	border: .5px solid black;
	padding-top: 49px;
	padding-left: 10px;
}
.Banner{
	color: #b6732f;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 70px;
	text-align: left;
	height: 3px;
}
.name{
 	font-size: 23px;
 	font-family: Arial, Helvetica, sans-serif;
 	text-indent: 3cm;
	border-top: 3px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 1cm;
	line-height: 20px;
}
.description{
	font-size: 15.7px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 1cm;
	margin-top: 15px;
	margin-bottom: 1px;
	
}
img{
 	width: 130px;
 	height: 130px;	
	margin-top: 0px;
	margin-bottom: 0px;
}
.price{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 3cm;
	padding-top: 0cm;
	margin-top: 0px;
	margin-bottom: 0px;
}
#Subtotal{
	border-top: 3px solid black;
	font-size: 15.7px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-indent: 1cm;
	margin-top: 15px;
	margin-bottom: 1px;
	padding-top: 19px;
}

button{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-indent: 0cm;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 37px;
}

#demo{
	font-size: 20px;
}

